.chum{
    margin: auto;

}
.top{
    background-image: url(./img/menu_bar.gif);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.text1{
    background-image: url(./img/menu_bar.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    font-size: 20px;
}
.text2{
    background-image: url(./img/menu_bar.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}
.text3{
    background-image: url(./img/menu_bar.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}
.text4{
    background-image: url(./img/menu_bar.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;

}
.end{
    background-image: url(./img/menu_bar.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.link1{
    padding: 5px;
}
.link2{
    padding: 10px;
}
.between-top{
    font-size: 20px;
    font-weight: 800px;
    padding: 10px;
}
.link4{
    padding: 5px;
}
.font{
    font-size: 20px;
}