* {
    margin: 0;
    padding: 0;
}
#container{
    width: 1356.22px;
}
#top{
    height: 100px;
    background-color: #f9f3f99e;
    display: flex;
    justify-content: center;
}
#top ul li{
    list-style: none;
    float: left;
}
#top ul li#img1{
    width: 200px;
    height: 168px;
}
#top ul li.mu1{
    border-bottom: 1px solid burlywood;
    border-top: 1px solid burlywood;
    margin-top: 28px;
    padding-right: 30px;
}
#top ul{}
#top ul li img{
    width: 100%;
}
#content{
    height: 132vh;
    background-color: aliceblue;
}
#content h2{
    padding-top: 103px;
    text-align: center;
    font-family: cursive;
    font-size: 44px;
    color: aqua;
    padding-left: 40px;
    padding-right: 40px;
}
#content h5{
    text-align: center;
    padding-top: 30px;
    color: darkgrey;
    padding-bottom: 30px;
}
#content #box{
    width: 31%;
    float: left;
   
    padding-right: 29px;
    padding-bottom: 22px
}
#content #box>#box1 img{
    width: 100%;
    border: 5px outset;
}
#content #box>#box1{ 
    border: 5px solid white;    
    height: 193px
}
#content #box>#menu{}
#content #box>#ct1{
    padding: 10px 0px 0px
}
#content #flo{
    padding: 0px 55px 0px;
}
#main{
    height: 426.5px;
}
#main #text{
    height: 50vh;
    /* background-color: aquamarine; */
    padding: 55px;
}
#main #text>#text1{
    width: 70%;
    height: 100%;
    /* background-color: antiquewhite; */
    float: left;
}
#main #text>#text1 ul li{
    margin: 10px;
    margin-right: 145px;
    list-style: none;
}
#main #text>#text2{
    width: 30%;
    height: 100%;
    float: right;
}
#main #text>#text2 h2{
    padding-top: 5px;
    padding-bottom: 5px;
}
#main #text>#text2 h5{}
#footer{
    height: 80vh;
    background-color: #17a0a58c;
    color: azure;
}
#footer h2{
    padding: 20px 55px 0px;
}
#footer h4{
    padding: 0px 55px 0px;
}
#footer #look{
    width: 100%;
}
#footer #look .form .in{
    height: 30px;
    width: 934.59px;
}
#footer label{
    padding-bottom: .0,4em;
}
#footer #look .form textarea{
    width: 934.58px;
}
#footer .form{
    padding: 0px 55px 22px;
}
#sub{
    padding: 0px 55px 22px;
}
#main #text #text1 .mo1{
    color: aqua;
}
#main #text #text2 h2{
    color: aqua;
}
